<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2>Detalles del Profesor</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Dni</div>
			<div class="panel-body" th:text="${teacher.dni}">Ejercicio
				Complementario 2.3</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Nombre</div>
			<div class="panel-body" th:text="${teacher.nombre}">nombre</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Primer Apellido</div>
			<div class="panel-body" th:text="${teacher.primerApellido}">
				primerApellido</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Segundo Apellido</div>
			<div class="panel-body" th:text="${teacher.segundoApellido}">
				segundoApellido</div>
		</div>

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>